*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    background: linear-gradient(rgb(0, 238, 255),rgb(0, 0, 78));
    
}
main{
    background-color: brown;
    width: 100%;
    height:100%
}
 .titulo_principal{
    text-align: center;
    margin-top: 1%;
    font-size: clamp(20px,5vw,3vw);
}
.nav_principal{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

}
.nav_botao{
    background-color: blue;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;

}
.link{
    margin: 5px 10px 5px 10px;
    opacity: 1;
    text-decoration: none;
    color: white;
}