*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    text-align: center;
    grid-template-areas: 
    "header header header"
    "aside imagem aside"
    "article article article"
    "footer footer footer";
    grid-template-columns: auto;
}
header{
    width: 100%;
    background-color: #ffffffa7;
    backdrop-filter: blur(10px);
    grid-area: header;
}
aside{
    grid-area: aside;
}
.titulo_principal{
    text-align: center;
    margin-top: 1%;
    font-size: clamp(20px,5vw,4vw);
}