*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes fade{
    from{
      opacity: 0;
      transform: translateY(100px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes anuncio{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  @font-face {
    font-family: 'titulo';
    src: url('../Fontes/IMFellEnglishSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
body{
    background: linear-gradient(rgb(0, 0, 90),rgb(0, 0, 0));
}
main{
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;

    grid-template-areas: 
    "h1 h1 h1"
    ". section ."
    ;
    padding-top: 10px;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");}
main h1{
    grid-area: h1;
    margin-top: 10px;
    font-size: clamp(12px, 32vw, 32px);
    font-family: 'titulo', sans-serif ;
}
section{
    grid-column: 2;
    background-image: url("../Imagens/11488240.png");
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 70px 100px 70px 140px;
    border-radius: 20px;
    animation: fade 1s ease-in-out;
    color: black;
    max-width: 100dvw;
    display: flex;
    flex-direction: row;
}
footer h6{
    color: white;
    text-align: center;
    
}
footer{
    background-color: rgba(130, 129, 129, 0.114);
    padding-top: 3px;
    padding-bottom: 3px;

}
article{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
article h2{
    text-align: left;
    margin-left: 10px;
}
li{
    margin-left: 8%;
    text-align: left;
    font-size: clamp(10px,20px,30px);
}
li:first-child{
    margin-top: 10px;
}
li:last-child{
    margin-bottom: 10px;
}
.img_peixes{
    width: clamp(20vw,30vw,20px);
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;

}
#vermeR{
    height: 17vw;
}
.div_peixes{
    display: flex;

}
@media (max-width: 768px) {
    section {
      display: flex;
      flex-direction: column;
      padding-left: 26% ;
      padding-top: 35%;
      padding-bottom: 30%;
      align-items: center;
    }
    .img_peixes{
        width: 50vw;
    }
}  